# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.db*.a
*.lib

# Executables
*.exe
*.out
*.app

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.ipch
*.opensdf
*.sdf
*.lst
*.tlog
*.idb
*.map
*.exp
*.opendb*.lastbuildstate
*.unsuccessfulbuild
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

src/MapViewer/1/2/AndroidViewerDebug/AndroidViewerDebug/gen/app/com/mapviewer/AndroidViewerDebug/BuildConfig.java
src/MapViewer/1/2/AndroidViewerDebug/AndroidViewerDebug/gen/app/com/mapviewer/AndroidViewerDebug/R.java
src/MapViewer/1/2/AndroidViewerDebug/AndroidViewerDebug/gen/R.java.d
src/MapViewer/1/2/AndroidViewerDebug/AndroidViewerDebug/libs/armeabi-v7a/gdb.setup
src/MapViewer/1/2/AndroidViewerDebug/AndroidViewerDebug/libs/armeabi-v7a/gdbserver
src/MapViewer/1/2/AndroidViewerDebug/AndroidViewerDebug/VisualGDBCache/AndroidViewerDebug-Debug/DeploymentStatus.xml
src/MapViewer/1/2/AndroidViewerDebug/CodeDB/AndroidViewerDebug-Debug-Win32/AndroidViewerDebug.npa
src/MapViewer/1/2/AndroidViewerDebug/CodeDB/AndroidViewerDebug-Debug-Win32/AndroidViewerDebug.npd
src/MapViewer/1/2/AndroidViewerDebug/CodeDB/AndroidViewerDebug-Debug-Win32/AndroidViewerDebug.rdb
src/MapViewer/1/2/AndroidViewerDebug/CodeDB/AndroidViewerDebug-Debug-Win32/codedb.lck
src/MapViewer/1/2/AndroidViewerDebug/CodeDB/AndroidViewerDebug-Debug-Win32/GisLibrary.npa
src/MapViewer/1/2/AndroidViewerDebug/CodeDB/AndroidViewerDebug-Debug-Win32/GisLibrary.npd
src/MapViewer/1/2/AndroidViewerDebug/CodeDB/AndroidViewerDebug-Debug-Win32/GisLibrary.rdb
src/MapViewer/1/2/AndroidViewerDebug/CodeDB/AndroidViewerDebug-Debug-Win32/GlobalFileTable.000
src/MapViewer/1/2/AndroidViewerDebug/CodeDB/AndroidViewerDebug-Debug-Win32/GlobalFileTable.001
src/MapViewer/1/2/AndroidViewerDebug/CodeDB/AndroidViewerDebug-Debug-Win32/map.rdb
src/MapViewer/1/2/AndroidViewerDebug/CodeDB/AndroidViewerDebug-Debug-Win32/MapContext.npa
src/MapViewer/1/2/AndroidViewerDebug/CodeDB/AndroidViewerDebug-Debug-Win32/MapContext.npd
src/MapViewer/1/2/AndroidViewerDebug/CodeDB/AndroidViewerDebug-Debug-Win32/MapContext.rdb
src/MapViewer/1/2/AndroidViewerDebug/CodeDB/AndroidViewerDebug-Debug-Win32/MapDrawer.npa
src/MapViewer/1/2/AndroidViewerDebug/CodeDB/AndroidViewerDebug-Debug-Win32/MapDrawer.npd
src/MapViewer/1/2/AndroidViewerDebug/CodeDB/AndroidViewerDebug-Debug-Win32/MapDrawer.rdb
src/MapViewer/Android/app/libs/armeabi-v7a/gdb.setup
src/MapViewer/Android/app/libs/armeabi-v7a/gdbserver
src/MapViewer/Android/app/src/main/libs/armeabi-v7a/gdb.setup
src/MapViewer/Android/app/src/main/libs/armeabi-v7a/gdbserver
src/MapViewer/Android/MapViewer/CodeDB/MapViewer-Debug-Win32/codedb.lck
src/MapViewer/Android/MapViewer/CodeDB/MapViewer-Debug-Win32/GisLibrary.npa
src/MapViewer/Android/MapViewer/CodeDB/MapViewer-Debug-Win32/GisLibrary.npd
src/MapViewer/Android/MapViewer/CodeDB/MapViewer-Debug-Win32/GisLibrary.rdb
src/MapViewer/Android/MapViewer/CodeDB/MapViewer-Debug-Win32/GlobalFileTable.000
src/MapViewer/Android/MapViewer/CodeDB/MapViewer-Debug-Win32/GlobalFileTable.001
src/MapViewer/Android/MapViewer/CodeDB/MapViewer-Debug-Win32/MapDrawer.npa
src/MapViewer/Android/MapViewer/CodeDB/MapViewer-Debug-Win32/MapDrawer.npd
src/MapViewer/Android/MapViewer/CodeDB/MapViewer-Debug-Win32/MapDrawer.rdb
src/MapViewer/Android/MapViewer/VisualGDBCache/MapViewer-Debug/DeploymentStatus.xml
src/CommonLibrary/CommonLibrary.VC.db
src/CommonLibrary/CommonLibrary.VC.VC.opendb
*.db
*.opendb
